{% if paginator.total_pages > 1 %}
<ul class="pagination">
  <li>
      <a {% if paginator.previous_page %} href="{{site.url}}{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"{% else %} style="cursor:pointer" {% endif %}>&laquo;</a>
  </li>
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <li><a style="cursor: pointer">{{ page }}</a></li>
    {% elsif page == 1 %}
    <li><a href="{{site.url}}{{'/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
    {% else %}
    <li><a href="{{site.url}}/{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
    {% endif %}
  {% endfor %}
  <li>
      <a {% if paginator.next_page %} href="{{site.url}}{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"{% else %} style="cursor:pointer" {% endif %}>&raquo;</a>
  </li>
</ul>
{% endif %}
