{% include header.html %}
<div class="container">        
        {% include main_right.html %}
        <div class="col-lg-9" id="contents_left">            
            {% include search.html %}             
            <div id="posts">
                <header class="post-header">
                 <hgroup>
                   <h2 id="page_title">{{page.title}}</h2>
                   <p class="date">{{page.date | date: "%b %d, %Y" }}</p>
                   <p class="intro">{% if page.description %}{{ page.description }}{% else %}{{ page.tagline }}{% endif %}</p>
                 </hgroup>
                  <hr />
               </header>        
               {{ content }}
            </div>
           {% include comment.html %}
        </div>
</div>

{% include footer.html %}